extends menu
block content
    div.page_content
        h2 Thank you for joining our mailing list.
        p #{name}
        p #{address}
        p #{city}, #{state} #{zip}
        p #{email}  #{phone}
        
